<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>壹耘-运营中心</title>
  <script language="JavaScript" type="text/javascript">
    var flag = true;
    /*if(window.navigator.userAgent.indexOf("MSIE")>0) { if(window.navigator.userAgent.indexOf("MSIE 6.0")>0 || window.navigator.userAgent.indexOf("MSIE 7.0")>0 || window.navigator.userAgent.indexOf("MSIE 8.0")>0 || window.navigator.userAgent.indexOf("MSIE 9.0")>0) {flag = false;} } if(!flag){
      document.write('<div style="width:100%;height:50px;text-align: center; position: fixed;top: 0; background-color: #fffecb;color:#000; font-size: 14px; line-height: 50px; ">非常抱歉，网站暂时还不支持您的浏览器版本，我们的程序猿正在全力修复中~</div>');
    }*/
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?abed6b8ff29cd79e661415cfdc5190dc";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<div id="app"></div>
</body>
</html>
