.admin-font-color {
  color: $admin-font-color;
}

.admin-padding {
  padding: $admin-padding;
}

//统一后台 section 之间的margin
.bg-section-margin{
  margin: 20px 0;
}

// admin table

.admin-table {

}

.admin-table-header {
  $input-height: 32px;

  .datetime-picker-label {
    display: inline-block;
    height: $input-height;
  }

  select {
    width: 150px;
  }
}
