.hr-title{
  padding: 14px 0;
}

.hr-title {
  color: #333;
  position: relative;   /*定位横线（当横线的父元素）*/
}

.hr-title:before, .hr-title:after{
  content: '';                 /*CSS伪类用法*/
  position: absolute;         /*定位背景横线的位置*/
  top: 51%;
  background: #ddd;       /*宽和高做出来的背景横线*/
  width: 30%;
  height: 1px;
}
.hr-title:before{
  left: -35%;
}
.hr-title:after {
  right: -35%;
}



//组件上各种颜色


.grey{
  color:#b2b9ce !important;
}
.green{
  color:#76dcd8 !important;
}
.greenbg{
  background-color:#76dcd8 !important;
}
.greenborder{
  border-color: #76dcd8 !important;
}
.blue{
  color:#80d1ff !important;
}
.bluebg{
  background-color:#80d1ff !important;
}
.blueborder{
  border-color: #80d1ff !important;
}
.yellow{
  color:#f9e993 !important;
}
.yellowbg{
  background-color:#f9e993 !important;
}
.yellowborder{
  border-color: #f9e993 !important;
}
.purple{
  color:#cec2ed !important;
}
.purplebg{
  background-color:#cec2ed !important;
}
.purpleborder{
  border-color: #cec2ed !important;
}
.pink{
  color:#f1adc3 !important;
}
.pinkbg{
  background-color:#f1adc3 !important;
}
.pinkborder{
  border-color: #f1adc3 !important;
}
.orange{
  color:#f8c0a9 !important;
}
.orangebg{
  background-color: #f8c0a9 !important;
}
.orangeborder{
  border-color: #f8c0a9 !important;
}

//右边框
.append-solid::after {
  border-left: solid 1px #dddddd;
  content: '';
  height: 50%;
  display: flex;
  align-self: center;
}
