
@font-face {
  font-family: "iconfont";
  src: url('../../assets/fonts/iconfont.eot'); /* IE9*/
  src: url('../../assets/fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../../assets/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../assets/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color:#666;
}

.icon-oc-money:before { content: "\e600"; }
.icon-oc-handle:before { content: "\e601"; }
.icon-oc-mobile:before { content: "\e602"; }
.icon-oc-member:before { content: "\e603"; }
.icon-oc-monitor:before { content: "\e604"; }
.icon-oc-custom:before { content: "\e605"; }
.icon-oc-verify:before { content: "\e606"; }
.icon-oc-index:before { content: "\e607"; }
.icon-oc-statistics:before { content: "\e608"; }
.icon-oc-wallet:before { content: "\e609"; }
.icon-oc-finance:before { content: "\e60a"; }
.icon-oc-setting:before { content: "\e60b"; }
.icon-oc-msg:before { content: "\e60c"; }
.icon-oc-date:before { content: "\e60d"; }
.icon-oc-app:before { content: "\e60e"; }
.icon-oc-user:before { content: "\e60f"; }
.icon-oc-mobile-small:before { content: "\e610"; }
.icon-oc-msg-small:before { content: "\e611"; }
.icon-oc-wallet-small:before { content: "\e612"; }
.icon-oc-ranking:before { content: "\e613"; }
.icon-oc-exit:before { content: "\e614"; }
