$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './variable.scss';
@import './layout.scss';

html {
  height: 100%
}

body {
  min-height: 100%;
  font-size: 12px;
  display: flex;
}

a:link {
  text-decoration: none;
}

#app {
  flex: 1;
  display: flex;
}

.list-none-style {
  list-style: none;
  padding-left: 0;
}
