.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.justify-content {
  justify-content: center;
}
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}


.align-items {
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.align-items-end{
  align-items: flex-end;
}
.cursor{
  cursor: pointer;
}

.flex-direction-row{
  flex-direction:row;
}
.flex-direction-row-reverse{
  flex-direction:row-reverse;
}
.flex-direction-column{
  flex-direction:column;
}
.flex-direction-column-reverse{
  flex-direction:column-reverse;
}