@mixin circlebox($radius:20px) {
  width: $radius*2;
  height: $radius*2;
  border-radius: $radius;
}


$colorlist: (grey: '#2b2b9ce', green: #76dcd8, blue: #80d1ff, yellow: #f9e993, purple: #cec2ed, pink: #f1adc3, orange: #f8c0a9, while: #FFFFFF );
@each $name, $color in $colorlist {
  .#{$name} {
    color:$color !important;
  }
  .#{$name}bg {
    background-color: $color !important;
  }
  .#{$name}border {
    border-color: $color !important;
  }
}


@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }
}

