$header-height: 62px;
$border-test: 1px solid red;
$sidebar-width: 200px;
$admin-padding: 15px;
$admin-font-color: #89d9e3;

$normal-font-color: #333;
$middle-font-color: #666;
$small-font-color: #999;

$normal-font-size: 1.4rem;
$middle-font-size: 1.6rem;
$bigger-font-size: 1.8rem;
$small-font-size: 1.2rem;

$icon-small-font-size: 8px;

$table-bg: #f0f4f8;
